{{!--
This footer template is shared across all the pages.
--}}

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <i class="far fa-copyright"></i> <strong>EVsnap</strong> 2020. Created with <i class="fas fa-bolt electricity"></i> by <a href="http://allstead.dev">Willis Allstead</a>.
    </p>
  </div>
</footer>
