{{!--
This navigation template is shared across all the pages.
Also it includes the big submenu.
--}}

{{#foreach navigation}}
    <a class="navbar-item" href="{{url absolute="true"}}">{{label}}</a>
{{/foreach}}